@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    /* @apply font-poppins; */
} 
    .skill {
      writing-mode: sideways-lr;
    }
@screen lg {
    .skill {
        writing-mode: vertical-rl;
    }
}

.navbar-fixed{
    @apply fixed z-[9999] bg-dark bg-opacity-50;
    backdrop-filter: blur(5px);
    box-shadow : inset -1px 0 0 rgba(0,0,0,0.1);
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45 ;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45 ;
    
}

.line-about{
    @apply w-[30px] lg:w-[40px] h-[2px] mx-6 bg-primary;
}

.mask{
    -webkit-mask-image: url(img/brush.png);
    mask-image: url(img/brush.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: cover;
    @apply bg-primary max-w-[400px] lg:scale-125
}

.card{
    @apply flex flex-col justify-center items-center px-10 py-5 bg-lightDark-100 rounded-2xl bg-opacity-25 hover:bg-lightDark-200;
    backdrop-filter: blur(5px); 
}

.card-img{
    @apply w-20 h-auto;
}
